@import "./variables";

@mixin border() {
  border: 1px solid $bgSecondColor;
  border-radius: 10px;
}

@mixin borderShadow() {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.03)!important;
}

@mixin pageWrapper() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $bgColor;

  @include border();
  @include borderShadow();
}