@import 'src/assets/style/variables';
@import 'src/assets/style/mixins';

.wrapper {
    @include pageWrapper();
    padding: 10px;
    flex-direction: row;
}

.dialogItems {
    padding: 10px;
}

.dialogItems .active {
    color: brown;
}

.messages {
    padding: 10px;
}

.message {

}

a {
    text-decoration: none;
}