.profile {

}
.profile img {
    /*width: 1200px;
    height: 600px;*/

    width: max(20vw, 1000px);
    aspect-ratio: 5 / 1;
    border-radius: 0.5rem;
    /*margin-top: 0.75rem;*/
    object-fit: cover;
}

.descriptionBlock {
    padding: 10px;
}