@import 'src/assets/style/variables';
@import 'src/assets/style/mixins';

.app-wrapper {
  /*display: grid;*/
  /*width: 100%;*/
  /*grid-template-areas:*/
  /*'header header'*/
  /*'navbar content';*/
  /*grid-template-columns: 100px 1fr;*/
  /*grid-template-rows: 60px 10fr;*/
  background-color: $bgSecondColor;
  min-height: 100vh;

  .app-wrapper-content {
    display: flex;
    padding-left: 250px;
    padding-top: 110px;
    justify-content: center;




    /*grid-area: content;*/
    /*background-color: darkturquoise;*/

    /*position: relative;*/
  }
}

.app-wrapper-page {
  //display: flex;
  //flex-direction: row;
}
